<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>RaceIA</title>
</head>
<body>
    <nav>
        <a class="logo"><img src="../assets/img/x32raceia.png" alt="logo"></a>
        <a>RaceIA</a>
        <div class="right-nav">
            <a href="/">Home</a>
            <a href="/board">Board</a>
            <a href="#"><img src="../assets/img/x32github.png"></a>
        </div>
    </nav>

    <div class="body">
        <div class="topchart">
        
        </div>
    </div>

</body>